[submodule "corpus"]
	path = corpus
	url = git@github.com:AcademiaSinicaNLPLab/sentiment_dataset.git
[submodule "word2vec"]
	path = word2vec
	url = git@github.com:AcademiaSinicaNLPLab/word2vec_gensim
